In [2]:
import requests
import json
import pymysql
import pandas as pd

In [3]:
response = requests.get("https://api.openweathermap.org/data/2.5/weather?lat=35&lon=139&appid=c166a23bf20918eb9eb473980b75710e")

In [4]:
print(response.status_code)

200

In [7]:
# print(response.json())

# import json
a = response.json()
# print(json.dumps(a))
# b = json.dumps(a)
# type(b)
# type(a)

result = {}
for k, v in a.items():
    if(isinstance(v,dict)):
        for key, value in v.items():
#             print(f"{k}_{key}", value)
            result[f"{k}_{key}"] = value
        
        continue
            
    result[k] = v
a

{'coord': {'lon': 139, 'lat': 35},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 287.21,
  'feels_like': 286.92,
  'temp_min': 287.21,
  'temp_max': 288.8,
  'pressure': 1005,
  'humidity': 86},
 'visibility': 613,
 'wind': {'speed': 0.45, 'deg': 125, 'gust': 0.89},
 'clouds': {'all': 100},
 'dt': 1648366838,
 'sys': {'type': 2,
  'id': 2019346,
  'country': 'JP',
  'sunrise': 1648327114,
  'sunset': 1648371617},
 'timezone': 32400,
 'id': 1851632,
 'name': 'Shuzenji',
 'cod': 200}

In [8]:
len(result)

25

In [9]:
new_result = {k: result[k] for k in result.keys() - {'weather'}}
len(new_result)

24

In [10]:
connection = pymysql.connect(host='localhost', user='root', password='', database='weather')

In [11]:
cursor = connection.cursor()
# cursor.execute('CREATE DATABASE weather')
# cursor.execute("CREATE TABLE weather_data (Weatherkeys VARCHAR(255), Weathervalues VARCHAR(255))")

In [12]:
df = pd.DataFrame.from_dict(new_result, orient='index', columns=['values'])

In [13]:
from sqlalchemy import create_engine
my_conn = create_engine("mysql+mysqldb://root:@localhost/weather")
try:
    df.to_sql('weather_data', con=my_conn, index=True, if_exists='replace') 
except Exception as err:
    print(f"Error: '{err}'")